<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/logo.png" alt="" width="80" height="60">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarText"
    aria-controls="navBarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navBarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% for item in site.data.navbar %}
      <li class="nav-item">
        {% if page.title == item.name %}
          <a class="nav-link active" aria-current="page" href="{{ item.link }}">{{ item.name }}</a>
        {% else %}
          <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>